@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Main page */

.projectPage {
  @apply bg-bright h-full w-full flex flex-col p-4 md:py-32 md:px-20
}

.project-section {
  @apply w-full h-full md:h-full bg-dark px-4 py-8 md:py-16 md:px-20 lg:px-40
}

.project-title {
  @apply text-lightGray font-bold text-3xl md:text-4xl
}

.project-subtitle {
  @apply text-lightGray font-bold text-3xl md:text-4xl
}

.ability-button {
  @apply w-max h-max p-4 md:p-4 border-solid border-2 border-outline text-xs md:text-sm text-lightPurple rounded-full hover:bg-outline hover:bg-opacity-50 hover:ease-in duration-150 select-none
}


::-webkit-scrollbar {
  background-color: #1C1B1F;
}
::-webkit-scrollbar-thumb {
  background: #C6BFFF;
}

